.flexslider {
	background: transparent;
	border: 0;
	position: relative;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0 0px 0px rgba(0,0,0,0);
	-o-box-shadow: 0 0px 0px rgba(0,0,0,0);
	box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.flexslider .slides img {
	border-radius: 50%;
}
.flex-direction-nav a:before {
	margin-top: 10px;
}
.slider {
	max-width: 920px;
	margin: 0 auto;
}
#slider {
	max-width: 600px;
	margin: 0 auto;
	display: none;
}
#carousel li{
	margin: 0 20px 0 0;
}



@media screen and (max-width: 979px) {
	#slider {
		display: block;
	}
	
	#carousel {
		display: none;
	}
}
